<footer class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <!-- Column 1: About Us -->
        <div class="col-lg-3 col-md-6 col-12 mb-4">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat urna vel felis hendrerit, vitae fringilla velit varius.</p>
        </div>
  
        <!-- Column 2: Quick Links -->
        <div class="col-lg-3 col-md-6 col-12 mb-4">
          <h3>Quick Links</h3>
          <ul class="list-unstyled">
            <li><a class="text-white text-decoration-none">About Us</a></li>
            <li><a class="text-white text-decoration-none">Coinzee</a></li>
            <li><a class="text-white text-decoration-none">Services</a></li>
            <li><a class="text-white text-decoration-none">Support</a></li>
          </ul>
        </div>
  
        <!-- Column 3: Contact Info -->
        <div class="col-lg-3 col-md-6 col-12 mb-4">
          <h3>Contact Us</h3>
          <ul class="list-unstyled">
            <li><i class="bi bi-geo-alt"></i> 123 Main St, City, Country</li>
            <li><i class="bi bi-phone"></i> +123 456 7890</li>
            <li><i class="bi bi-envelope"></i> southernsourcingsupply.com</li>
          </ul>
        </div>
  
        <!-- Column 4: Social Media -->
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <h3>Follow Us</h3>
            <div class="d-flex gap-3">
              <!-- Facebook Icon -->
              <a href="#" class="btn btn-social-icon btn-facebook text-white" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
          
              <!-- Twitter Icon -->
              <a href="#" class="btn btn-social-icon btn-twitter text-white" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
          
              <!-- Instagram Icon -->
              <a href="#" class="btn btn-social-icon btn-instagram text-white" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
        </div>          
      </div>
  
      <!-- Footer Bottom -->
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2025 Southern Sourcing Supply. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  