.h-p100 {
    height: 100% !important;
}

.btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #ffffff;
}

.btn-twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #ffffff;
}

.btn-instagram {
    background-color: #e1306c;
    border-color: #e1306c;
    color: #ffffff;
}